<div class="container bg-white border-top border-bottom p-5">
    <div class="row mt-5" style="border-top-dark border-bottom-dark">
        <div class="col-lg-8 col-sm-12 col-md-7">
            <p class="text-left">
                <h2 class="font-weight-bold"> Dolphins Are
                    <span class="text-muted"> Wonderful Animals </span>
                </h2 class>
                <p class="text-justify">Dolphin is a common name of aquatic mammals within the infraorder Cetacea. The term dolphin usually refers to the extant families Delphinidae (the oceanic dolphins), Platanistidae (the Indian river dolphins), Iniidae (the New World river dolphins), and Pontoporiidae (the brackish dolphins), and the extinct Lipotidae (baiji or Chinese river dolphin).</p>
            </p>
        </div> 
        <div class="col-lg-4 col-sm-12 col-md-5">
            <img src="/website1/assets/img/dolphin.jpg" class= "img-fluid rounded-circle mw-100" alt="rounded" >
        </div>
    </div>
</div>