<!-- your html code here -->
<html>
<head></head>
<body>
    <div class="container">
        <div class="card mb-3 border-0">
            <div class="row no-gutters d-flex align-items-center">
                <div class="col-md-4">
                    <img src="https://3000-d982906d-8ca0-469e-addb-d710bb541d0b.ws-us02.gitpod.io/website1/assets/img/2.jpg" class="card-img rounded-circle" alt="...">
                </div>
                <div class="col-md-8 d-flex align-self-start">
                    <div class="card-body">
                        <h5 class="card-title">THE SECOND HEADING  <span class="text-muted"> IS PRETTY COOL TOO.</span></h5>
                        <p class="card-text">donec ullamcoper dksffaldsfjlsajdklfjsadkfljsakldfjklsajdfkasjdfklasdlfjflkas
                sdfklfjaslkdfjlksdjflkjsadklfjklasdjfssadkjfjasdklfasldkfjkasjdl
                sdkffljaskldjfklasdjlfkljasdkl</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>